/* line 7, ../sass/hksitebar.scss */
header#hksitebar {
  border-bottom: solid 1px #e0e0e0;
  background-color: #f7f7f7;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 0 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 0 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 0 5px;
  position: relative;
}
/* line 18, ../sass/hksitebar.scss */
header#hksitebar section#main-container {
  padding: 10px;
}
/* line 22, ../sass/hksitebar.scss */
header#hksitebar a#logo {
  display: block;
  float: none;
  margin: 0 auto;
  width: 31px;
  height: 38px;
  background-image: url('../images/logo-narrow.png?1389104635');
  background-repeat: no-repeat;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (min--moz-device-pixel-ratio: 2), all and (-o-min-device-pixel-ratio: 2 / 1), all and (min-device-pixel-ratio: 2), all and (min-resolution: 192dpi), all and (min-resolution: 2dppx) {
  /* line 22, ../sass/hksitebar.scss */
  header#hksitebar a#logo {
    background-image: url('../images/logo-narrow@2x.png?1389104635');
    background-size: 31px 38px;
  }
}
/* line 30, ../sass/hksitebar.scss */
header#hksitebar a#logo img {
  display: none;
}
/* line 35, ../sass/hksitebar.scss */
header#hksitebar section#hksitebar-user {
  position: absolute;
  right: 0;
  top: 0;
  line-height: 1em;
}
/* line 42, ../sass/hksitebar.scss */
header#hksitebar section#hksitebar-user a.logged-in {
  padding: 15px;
  margin: 0;
  line-height: 1em;
  display: block;
  color: #666;
  font-size: .8em;
}
/* line 50, ../sass/hksitebar.scss */
header#hksitebar section#hksitebar-user a.logged-in:hover {
  text-decoration: none;
}
/* line 58, ../sass/hksitebar.scss */
header#hksitebar section#hksitebar-user a.logged-in .user-picture img {
  background-color: #fff;
  width: 25px;
  height: 25px;
  border: solid 1px #d5dce3;
  padding: 0;
  margin: 0;
  line-height: 1em;
}
/* line 69, ../sass/hksitebar.scss */
header#hksitebar section#hksitebar-user a.logged-in span.username-wrapper {
  display: none;
}
/* line 74, ../sass/hksitebar.scss */
header#hksitebar section#hksitebar-user .not-logged-in {
  margin-top: 26px;
  margin-right: 10px;
  display: none;
}
/* line 79, ../sass/hksitebar.scss */
header#hksitebar section#hksitebar-user .not-logged-in .btn {
  padding: 10px 20px;
}
/* line 83, ../sass/hksitebar.scss */
header#hksitebar section#hksitebar-user .not-logged-in span {
  margin-right: 10px;
}
/* line 91, ../sass/hksitebar.scss */
header#hksitebar section.sub-containers section.sub-container {
  display: none;
  background-color: #f5f5f5;
  border-top: solid 1px #efefef;
}
/* line 101, ../sass/hksitebar.scss */
header#hksitebar section.sub-containers section.sub-container ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 106, ../sass/hksitebar.scss */
header#hksitebar section.sub-containers section.sub-container ul li {
  border-bottom: solid 1px #ededed;
  border-top: solid 1px #fff;
}
/* line 110, ../sass/hksitebar.scss */
header#hksitebar section.sub-containers section.sub-container ul li:first-child {
  border-top: none;
}
/* line 114, ../sass/hksitebar.scss */
header#hksitebar section.sub-containers section.sub-container ul li:last-child {
  border-bottom: none;
}
/* line 118, ../sass/hksitebar.scss */
header#hksitebar section.sub-containers section.sub-container ul li a {
  display: block;
  padding: 10px;
}

@media all and (min-width: 480px) and (max-width: 959px) {
  /* line 242, ../sass/hksitebar.scss */
  header#hksitebar {
    padding: 10px;
  }
  /* line 246, ../sass/hksitebar.scss */
  header#hksitebar a#logo {
    margin: 0 0;
    width: 222px;
    height: 27px;
    background-image: url('../images/logo.png?1389104635');
    background-repeat: no-repeat;
  }
  /* line 141, ../sass/hksitebar.scss */
  header#hksitebar section#hksitebar-user a.logged-in {
    padding: 24px 20px 24px 20px;
    display: block;
    border-left: solid 1px #e0e0e0;
  }
  /* line 147, ../sass/hksitebar.scss */
  header#hksitebar section#hksitebar-user a.logged-in span.user-picture {
    float: left;
  }
  /* line 151, ../sass/hksitebar.scss */
  header#hksitebar section#hksitebar-user a.logged-in span.username-wrapper {
    display: inline-block;
    margin-top: 8px;
    margin-left: 5px;
    background-image: url('../images/ddindicator.png?1389104635');
    background-repeat: no-repeat;
    background-position: center right;
    background-repeat: no-repeat;
    padding-right: 10px;
  }
  /* line 166, ../sass/hksitebar.scss */
  header#hksitebar section#hksitebar-user a.logged-in:hover {
    background-color: #f7f7f7;
    background-color: #fbfbfb;
  }
  /* line 172, ../sass/hksitebar.scss */
  header#hksitebar section#hksitebar-user .not-logged-in {
    display: block;
    margin-top: 15px;
    margin-right: 15px;
  }
  /* line 177, ../sass/hksitebar.scss */
  header#hksitebar section#hksitebar-user .not-logged-in span {
    margin-right: 10px;
    display: none;
  }
  /* line 257, ../sass/hksitebar.scss */
  header#hksitebar section.sub-containers section.sub-container {
    z-index: 3000;
    background-color: #fff;
    position: absolute;
    right: 10px;
    width: 200px;
    border: solid 1px #ccc;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 5px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    font-size: .8em;
    top: 79px;
  }
  /* line 197, ../sass/hksitebar.scss */
  header#hksitebar section.sub-containers section.sub-container ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  /* line 202, ../sass/hksitebar.scss */
  header#hksitebar section.sub-containers section.sub-container ul li {
    border-bottom: solid 1px #ededed;
    border-top: solid 1px #fff;
  }
  /* line 206, ../sass/hksitebar.scss */
  header#hksitebar section.sub-containers section.sub-container ul li:first-child {
    border-top: none;
  }
  /* line 210, ../sass/hksitebar.scss */
  header#hksitebar section.sub-containers section.sub-container ul li:last-child {
    border-bottom: none;
  }
  /* line 214, ../sass/hksitebar.scss */
  header#hksitebar section.sub-containers section.sub-container ul li a {
    display: block;
    padding: 5px 10px;
    color: #666;
  }
  /* line 219, ../sass/hksitebar.scss */
  header#hksitebar section.sub-containers section.sub-container ul li a:hover {
    text-decoration: none;
    background-color: #fbfbfb;
  }
  /* line 227, ../sass/hksitebar.scss */
  header#hksitebar section.sub-containers section.sub-container:before {
    content: " ";
    background-image: url('../images/tap-top.png?1389104635');
    background-repeat: no-repeat;
    z-index: 3001;
    position: absolute;
    top: -12px;
    left: 85.5px;
    width: 29px;
    height: 12px;
  }
}
@media all and (min-width: 480px) and (max-width: 959px) and (-webkit-min-device-pixel-ratio: 1.5), all and (min-width: 480px) and (max-width: 959px) and (min--moz-device-pixel-ratio: 2), all and (min-width: 480px) and (max-width: 959px) and (-o-min-device-pixel-ratio: 2 / 1), all and (min-width: 480px) and (max-width: 959px) and (min-device-pixel-ratio: 2), all and (min-width: 480px) and (max-width: 959px) and (min-resolution: 192dpi), all and (min-width: 480px) and (max-width: 959px) and (min-resolution: 2dppx) {
  /* line 246, ../sass/hksitebar.scss */
  header#hksitebar a#logo {
    background-image: url('../images/logo@2x.png?1389104635');
    background-size: 222px 27px;
  }
}
@media all and (min-width: 480px) and (max-width: 959px) and (-webkit-min-device-pixel-ratio: 1.5), all and (min-width: 480px) and (max-width: 959px) and (min--moz-device-pixel-ratio: 2), all and (min-width: 480px) and (max-width: 959px) and (-o-min-device-pixel-ratio: 2 / 1), all and (min-width: 480px) and (max-width: 959px) and (min-device-pixel-ratio: 2), all and (min-width: 480px) and (max-width: 959px) and (min-resolution: 192dpi), all and (min-width: 480px) and (max-width: 959px) and (min-resolution: 2dppx) {
  /* line 151, ../sass/hksitebar.scss */
  header#hksitebar section#hksitebar-user a.logged-in span.username-wrapper {
    background-image: url('../images/ddindicator@2x.png?1389104635');
    background-size: 7px 7px;
  }
}
@media all and (min-width: 480px) and (max-width: 959px) and (-webkit-min-device-pixel-ratio: 1.5), all and (min-width: 480px) and (max-width: 959px) and (min--moz-device-pixel-ratio: 2), all and (min-width: 480px) and (max-width: 959px) and (-o-min-device-pixel-ratio: 2 / 1), all and (min-width: 480px) and (max-width: 959px) and (min-device-pixel-ratio: 2), all and (min-width: 480px) and (max-width: 959px) and (min-resolution: 192dpi), all and (min-width: 480px) and (max-width: 959px) and (min-resolution: 2dppx) {
  /* line 227, ../sass/hksitebar.scss */
  header#hksitebar section.sub-containers section.sub-container:before {
    background-image: url('../images/tap-top@2x.png?1389104635');
    background-size: 29px 12px;
  }
}

@media all and (min-width: 960px) {
  /* line 273, ../sass/hksitebar.scss */
  header#hksitebar {
    padding: 10px;
  }
  /* line 276, ../sass/hksitebar.scss */
  header#hksitebar a#logo {
    margin: 0 0;
    width: 222px;
    height: 27px;
    background-image: url('../images/logo.png?1389104635');
    background-repeat: no-repeat;
  }
  /* line 141, ../sass/hksitebar.scss */
  header#hksitebar section#hksitebar-user a.logged-in {
    padding: 24px 20px 24px 20px;
    display: block;
    border-left: solid 1px #e0e0e0;
  }
  /* line 147, ../sass/hksitebar.scss */
  header#hksitebar section#hksitebar-user a.logged-in span.user-picture {
    float: left;
  }
  /* line 151, ../sass/hksitebar.scss */
  header#hksitebar section#hksitebar-user a.logged-in span.username-wrapper {
    display: inline-block;
    margin-top: 8px;
    margin-left: 5px;
    background-image: url('../images/ddindicator.png?1389104635');
    background-repeat: no-repeat;
    background-position: center right;
    background-repeat: no-repeat;
    padding-right: 10px;
  }
  /* line 166, ../sass/hksitebar.scss */
  header#hksitebar section#hksitebar-user a.logged-in:hover {
    background-color: #f7f7f7;
    background-color: #fbfbfb;
  }
  /* line 172, ../sass/hksitebar.scss */
  header#hksitebar section#hksitebar-user .not-logged-in {
    display: block;
    margin-top: 15px;
    margin-right: 15px;
  }
  /* line 177, ../sass/hksitebar.scss */
  header#hksitebar section#hksitebar-user .not-logged-in span {
    margin-right: 10px;
    display: none;
  }
  /* line 288, ../sass/hksitebar.scss */
  header#hksitebar section.sub-containers section.sub-container {
    z-index: 3000;
    background-color: #fff;
    position: absolute;
    right: 10px;
    width: 200px;
    border: solid 1px #ccc;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 5px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    font-size: .8em;
    top: 79px;
  }
  /* line 197, ../sass/hksitebar.scss */
  header#hksitebar section.sub-containers section.sub-container ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  /* line 202, ../sass/hksitebar.scss */
  header#hksitebar section.sub-containers section.sub-container ul li {
    border-bottom: solid 1px #ededed;
    border-top: solid 1px #fff;
  }
  /* line 206, ../sass/hksitebar.scss */
  header#hksitebar section.sub-containers section.sub-container ul li:first-child {
    border-top: none;
  }
  /* line 210, ../sass/hksitebar.scss */
  header#hksitebar section.sub-containers section.sub-container ul li:last-child {
    border-bottom: none;
  }
  /* line 214, ../sass/hksitebar.scss */
  header#hksitebar section.sub-containers section.sub-container ul li a {
    display: block;
    padding: 5px 10px;
    color: #666;
  }
  /* line 219, ../sass/hksitebar.scss */
  header#hksitebar section.sub-containers section.sub-container ul li a:hover {
    text-decoration: none;
    background-color: #fbfbfb;
  }
  /* line 227, ../sass/hksitebar.scss */
  header#hksitebar section.sub-containers section.sub-container:before {
    content: " ";
    background-image: url('../images/tap-top.png?1389104635');
    background-repeat: no-repeat;
    z-index: 3001;
    position: absolute;
    top: -12px;
    left: 85.5px;
    width: 29px;
    height: 12px;
  }
}
@media all and (min-width: 960px) and (-webkit-min-device-pixel-ratio: 1.5), all and (min-width: 960px) and (min--moz-device-pixel-ratio: 2), all and (min-width: 960px) and (-o-min-device-pixel-ratio: 2 / 1), all and (min-width: 960px) and (min-device-pixel-ratio: 2), all and (min-width: 960px) and (min-resolution: 192dpi), all and (min-width: 960px) and (min-resolution: 2dppx) {
  /* line 276, ../sass/hksitebar.scss */
  header#hksitebar a#logo {
    background-image: url('../images/logo@2x.png?1389104635');
    background-size: 222px 27px;
  }
}
@media all and (min-width: 960px) and (-webkit-min-device-pixel-ratio: 1.5), all and (min-width: 960px) and (min--moz-device-pixel-ratio: 2), all and (min-width: 960px) and (-o-min-device-pixel-ratio: 2 / 1), all and (min-width: 960px) and (min-device-pixel-ratio: 2), all and (min-width: 960px) and (min-resolution: 192dpi), all and (min-width: 960px) and (min-resolution: 2dppx) {
  /* line 151, ../sass/hksitebar.scss */
  header#hksitebar section#hksitebar-user a.logged-in span.username-wrapper {
    background-image: url('../images/ddindicator@2x.png?1389104635');
    background-size: 7px 7px;
  }
}
@media all and (min-width: 960px) and (-webkit-min-device-pixel-ratio: 1.5), all and (min-width: 960px) and (min--moz-device-pixel-ratio: 2), all and (min-width: 960px) and (-o-min-device-pixel-ratio: 2 / 1), all and (min-width: 960px) and (min-device-pixel-ratio: 2), all and (min-width: 960px) and (min-resolution: 192dpi), all and (min-width: 960px) and (min-resolution: 2dppx) {
  /* line 227, ../sass/hksitebar.scss */
  header#hksitebar section.sub-containers section.sub-container:before {
    background-image: url('../images/tap-top@2x.png?1389104635');
    background-size: 29px 12px;
  }
}
