//
// Media queries
//
// Usage:
//
// $wide: "all and (min-width: 960px)";
//
// @media #{$media-wide} {
//  // Your stuff here
// }
$media-wide: "all and (min-width: 960px)";
$media-tablet: "all and (min-width: 480px) and (max-width: 959px)";
$media-mobile: "all and (max-width: 480px)";


$hksitebarBackgroundColor: #f7f7f7;
$hksitebarBorderColor: #e0e0e0;

@import "mixins";
