
@import "compass";

@import "init";
// @import "mixins";

header#hksitebar {

  border-bottom: solid 1px $hksitebarBorderColor;
  background-color: $hksitebarBackgroundColor;
  // margin-bottom: 20px;
  @include box-shadow(rgba(0,0,0,.15) 0 0 5px);

  position: relative;

  // @include box-shadow(rgba(0,0,0, .1) 0 0 4px);

  section#main-container {
    padding: 10px;
  } // /section#main-container

  a#logo {
    display: block;
    float: none;
    margin: 0 auto;
    width: 31px;
    height: 38px;
    @include at2x('logo-narrow', 31px, 38px);

    img {
      display: none;
    } // /img
  } // /a#logo

  section#hksitebar-user {

    position: absolute;
    right: 0;
    top: 0;
    line-height: 1em;

    a.logged-in {
      padding: 15px;
      margin: 0;
      line-height: 1em;
      display: block;
      color: #666;
      font-size: .8em;

      &:hover {
        text-decoration: none;
      }

      .user-picture {

        // float: left;

        img {
          background-color: #fff;
          width: 25px;
          height: 25px;
          border: solid 1px #d5dce3;
          padding: 0;
          margin: 0;
          line-height: 1em;
        }
      }

      span.username-wrapper {
        display: none;
      }
    }

    .not-logged-in {
      margin-top: 26px;
      margin-right: 10px;
      display: none;

      .btn {
        padding: 10px 20px;
      }

      span {
        margin-right: 10px;
      } // /span
    } // /.not-logged-in
  } // /section#hksitebar-user

  section.sub-containers {

    section.sub-container {

      display: none;
      background-color: #f5f5f5;
      // @include box-shadow(
      //   rgba(0,0,0, 0.1) 0 0 5px inset,
      //   rgba(0,0,0, 0.1) 0 0 5px 1px inset
      // );
      border-top: solid 1px #efefef;

      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          border-bottom: solid 1px #ededed;
          border-top: solid 1px #fff;

          &:first-child {
            border-top: none;
          }

          &:last-child {
            border-bottom: none;
          }

          a {
            display: block;
            padding: 10px;
          }
        }
      }
    } // /.section.sub-container

  } // /section.sub-containers

} // /header#hksitebar

@media all and (max-width: 480px) {
  header#hksitebar {
    section#hksitebar-user {

    } // /section#hksitebar-user
  } // /header#hksitebar
} // /@media all and (max-width: 480px)

@mixin hksitebar-user {
  section#hksitebar-user {

    a.logged-in {

      padding: 24px 20px 24px 20px;
      display: block;
      border-left: solid 1px $hksitebarBorderColor;

      span.user-picture {
        float: left;
      } // /span.user-picture

      span.username-wrapper {
        display: inline-block;
        margin-top: 8px;
        margin-left: 5px;
        @include at2x('ddindicator', 7px, 7px);
        background-position: center right;
        background-repeat: no-repeat;
        padding-right: 10px;

        // a {
        //   font-size: 1em;
        //   font-weight: normal;
        // } // /a
      } // /span.username-wrapper

      &:hover {
        background-color: #f7f7f7;
        background-color: rgb(251px, 251px, 251px);
      }
    } // /a.logged-in

    .not-logged-in {
      display: block;
      margin-top: 15px;
      margin-right: 15px;

      span {
        margin-right: 10px;
        display: none;
      } // /span
    } // /.not-logged-in

  } // /section#hksitebar-user
}

@mixin sub-container {
  z-index: 3000;
  background-color: #fff;
  position: absolute;
  right: 10px;
  width: 200px;
  border: solid 1px #ccc;
  @include box-shadow(rgba(0,0,0,.1) 0 0 5px);
  @include border-radius(3px);
  font-size: .8em;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      border-bottom: solid 1px #ededed;
      border-top: solid 1px #fff;

      &:first-child {
        border-top: none;
      } // /&:first-child

      &:last-child {
        border-bottom: none;
      } // /&:last-child

      a {
        display: block;
        padding: 5px 10px;
        color: #666;

        &:hover {
          text-decoration: none;
          background-color: rgb(251px, 251px, 251px);
        } // /&:hover
      } // /a
    } // /li
  } // /ul

  &:before {
    content: " ";
    @include at2x('tap-top', 29px, 12px);
    z-index: 3001;
    position: absolute;
    top: -12px;
    left: 100px-(29px/2);
    width: 29px;
    height: 12px;
  }

} // /@mixin sub-container


@media #{$media-tablet} {
  header#hksitebar {
    // background-color: yellow;
    padding: 10px;

    a#logo {
      margin: 0 0;
      width: 222px;
      height: 27px;
      @include at2x('logo', 222px, 27px);
    } // /a#logo

    @include hksitebar-user;

    section.sub-containers {

      section.sub-container {
        @include sub-container;
        top:79px;
      } // /.section.sub-container

    } // /section.sub-containers

  } // /header#hksitebar
} // /@media all and (min-width: 480px) and (max-width: 959px)






@media #{$media-wide} {
  header#hksitebar {
    padding: 10px;

    a#logo {
      margin: 0 0;
      width: 222px;
      height: 27px;
      @include at2x('logo', 222px, 27px);

    } // /a#logo

    @include hksitebar-user;

    section.sub-containers {

      section.sub-container {
        @include sub-container;
        top: 79px;
      } // /.section.sub-container

    } // /section.sub-containers

  } // /header#hksitebar
} // /@media all and (min-width: 960px)
